---
layout: default
title: Blog Posts by Week
---

<div class = "container">
  <div class = "row">
    <div class = "col-md-6">

      <h3>Blog Posts by Week</h3>

        <a href = "blog.html" class = "btn - btn-success">Back to show all</a>
      
        <br>
  
        <ol class="posts">
            {% for category in site.categories %}   
             <b>{{ category | first }}</b>  
             <br> 
  		        <ul class="posts"> 		      
              {% for posts in category %}  		    
                {% for post in posts %}        
                  <li>
                   <a href="{{ post.url | <!--remove_first:'/'-->}}">{{ post.title }}</a>
                  </li>
                {% endfor %}
              {% endfor %}
            </ul>
          {% endfor %}
	        
        </ol>

  </div>
</div>
</div>
