---
layout: default
title: Blog Posts
---

<div class = "container">
  <div class = "row">
  <div class = "col-md-6">

  <h3>Our Blog Posts</h3>
  <ul class="posts">

	{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}

<!--
    {% for post in site.posts %}
      <li><span><b>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a></b>
        {{ post.excerpt }}<i><a href="{{ post.url | remove_first:'/'}}">Click</a> to read more...</i>
        </li>
    {% endfor %} -->
  </font>
  </ul>
  </div>
</div>
</div>
