---
layout: default
title: Blog Posts by Week
---

<div class = "container">
  <div class = "row">
    <div class = "col-md-6">

      <h3>Blog Posts by Week</h3>

        <a href = "blog.html" class = "btn - btn-success">Back to show all</a>
          <br>
          <br>
            {% for category in site.categories %}
              {% assign catname = category | first %}
              <b>{{ catname }}</b>
              <br>
              <ul class="posts">
                {% for post in site.categories[catname] %}
                  <li>
                    <a href="{{ post.url | <!--remove_first:'/'-->}}"> {{ post.title }}  </a>
                  </li>
                {% endfor %}
              </ul>
            {% endfor %}

    </div>
  </div>
</div>

