---
layout: default
title: Blog Posts
---

<div class = "container">
  <div class = "row">
  <div class = "col-md-6">

  <h3>Our Blog Posts</h3>

  <a href="week1.html">See blogs from Week 1</a>
  <ul class="posts">

{% for category in site.categories %}
  <li><a name="{{ category | first }}">{{ category | first }}</a>
    <ul>
    {% for posts in category %}
      {% for post in posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}

  </font>
  </ul>
  </div>
</div>
</div>
