<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> 4Loop </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- INSERT FROM BOOTSTRAP -->

        <link href = "http://wsfan.github.io/4loop/Bootstrap/css/bootstrap.min.css" rel = "stylesheet">
		<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<!-- CSS styles for standard search box -->
<div><script>
  (function() {
    var cx = '009543846873896731952:z5axvq67pwu';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
</div>
	
    </head>
    <body>
<!-- INSERT FROM BOOTSTRAP -->
    
      
		<div class = "navbar navbar-inverse navbar-static-top">
		<div class = "container">

			<a href = "http://wsfan.github.io/4loop/" class = "navbar-brand"><img class="logo" src = "https://raw.githubusercontent.com/wsfan/4loop/gh-pages/images/4looplogo.png" width="100" height="30" /></a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar></span>
				<span class = "icon-bar></span>
				<span class = "icon-bar></span>
				<span class = "icon-bar></span>
			</button>


			

				<ul class = "nav navbar-nav navbar-right">

					<li class = "active"><a href = "http://wsfan.github.io/4loop/">Home</a></li>
					<li class = "dropdown">

							<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">About Us <b class = "caret"></b></a>

							<ul class = "dropdown-menu">
									<li><a href = "http://wsfan.github.io/4loop/about.html">Who we are</a></li>	
									<li><a href = "http://wsfan.github.io/4loop/contact.html">Contact Us</a></li>	
							</ul>
					</li>
					<li><a href = "http://wsfan.github.io/4loop/blogcollect.html"> Blog Posts </a> </li>
					<li class = "dropdown">

							<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Projects <b class = "caret"></b></a>

							<ul class = "dropdown-menu">
									<li><a href = "http://wsfan.github.io/4loop/project1.html">Project 1</a></li>	
									<li><a href = "http://wsfan.github.io/4loop/project2.html">Project 2</a></li>	
							</ul>
					</li>		
					<!-- Make a tutorial drop down menu-->
					<li><a href = "http://wsfan.github.io/4loop/tutorials.html">Tutorials</a></li>
			</ul>
			<!--If any thing in nav bar is edited the same code needs to be pasted to the index as the 2 are not linked-->
	</div>
	</div>
	
	<!-- INSERT ENDS -->

<div>
			 
																
					<div style="float:right; position:relative" bgcolor="#BDBDBD">			
							<!--Content of the second column.-->
								<a class="twitter-timeline" href="https://twitter.com/search?q=%23foundersandcoders" data-widget-id="478897762872733696">Tweets about "#foundersandcoders"</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
					
					<div style="float:left">
					<!--Content of the first column.-->{{ content }}
					</div>
	
	
			<div class="footer">
				<div style="clear:both">	
				<p style="text-align:center">Instagram Feed #foundersandcoders</p>
				</div>
				<!-- SnapWidget:Instagram -->
				<p style="text-align:center"><iframe src="http://snapwidget.com/sc/?h=Zm91bmRlcnNhbmRjb2RlcnN8aW58MTUwfDN8M3x8bm98NXxub25lfG9uU3RhcnR8eWVz&v=18614" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:500px; height:150px"></iframe><p>
					
				 <gcse:search></gcse:search> 
					
	</div>
				<!--Anything in Footer goes in here-->
				</div>
        </div>
				<script src = "http://code.jquery.com/jquery-1.11.0.min.js"></script>
				<script src="http://github.io/wsfan/4Loop/bootstrap/js/bootstrap.js"></script>	
				<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		</body>
<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
    </body>
</html>
