<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> 4Loop </title>
        <meta name="viewport" content="width=device-width">
<!-- INSERT FROM BOOTSTRAP -->

        	<link href = "Bootstrap/css/bootstrap.min.css" rel = "stylesheet">
		<link href = "Bootstrap/css/styles.css" rel = "stylesheet">
<!-- INSERT ends  -->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    
    
    <body>
<!-- INSERT FROM BOOTSTRAP -->
    
      
<div class = "navbar navbar-inverse navbar-static-top">
		<div class = "container">

			<a href = "#" class = "navbar-brand">4Loop</a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
				<span class = "icon-bar></span>
				<span class = "icon-bar></span>
				<span class = "icon-bar></span>
				<span class = "icon-bar></span>
			</button>


			<div class = "collapse navbar-collapse navHeaderCollapse">

				<ul class = "nav navbar-nav navbar-right">

					<li class = "active"><a href = "#">Home</a></li>
					<li class = "dropdown">

							<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">About Us</a>

					<li><a href = "#">Yhyh</a></li>
					<li><a href = "#">Test</a></li>
					<li><a href = "#">You are HOME :)</a></li>		

			</ul>
	
	</div>
	</div>
	</div>
	<!-- INSERT ENDS -->



        <div class="site">
       <div class="header"> 
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>
<table>
	<col width="1000"
	<col width="50">
   <tr>
      <td>
         Content of the first column.
          {{ content }}
	</td>
	<td>
         Content of the second column.
			<h2 class="title"> API</h2>
			<a class="twitter-timeline" href="https://twitter.com/search?q=%23foundersandcoders" data-widget-id="478897762872733696">Tweets about "#foundersandcoders"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
         
		 </td>
   </tr>
</table>
		 <div class="footer">
            <div class="contact">
              <p>
                Where we are located
              </p>
            </div>
            <div class="contact">
            <div class="footer">
			<p> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2481.7988191080235!2d-0.13890804999999998!3d51.5352497!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b20253543d9%3A0x85660ca451f3759a!2sLondon+NW1+0JH!5e0!3m2!1sen!2suk!4v1403099093981" width="400" height="300" frameborder="0" style="border:0"></iframe> </p>
            </div>
			</div>
          </div>
        </div>

    </body>
</html>
