<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> 4Loop </title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- INSERT FROM BOOTSTRAP -->

        <link href = "http://wsfan.github.io/4loop/Bootstrap/css/bootstrap.min.css" rel = "stylesheet">
<!-- CSS styles for standard search box -->

    </head>
    <body>
<!-- INSERT FROM BOOTSTRAP -->
    
      
		<div class = "navbar navbar-inverse navbar-static-top">
		<div class = "container">

			<a href = "http://wsfan.github.io/4loop/" class = "navbar-brand"></a>

			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			</button>


			

				<ul class = "nav navbar-nav navbar-right">

					<li><a href = "http://wsfan.github.io/4loop/">Home</a></li>

					<!-- save this code for future dropdowns
					<li class = "dropdown">
					<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">About Us <b class = "caret"></b></a><ul class = "dropdown-menu"> -->
					<li><a href = "http://wsfan.github.io/4loop/about.html">About the Team</a></li>	
					<li><a href = "http://wsfan.github.io/4loop/blogcollect.html"> Blog </a> </li>
					<li><a href = "http://wsfan.github.io/4loop/project1.html">Projects</a></li>	
					<li><a href = "http://wsfan.github.io/4loop/tutorials.html">What We've Learnt</a></li>
				</ul>
			<!--YOU MUST COPY AMENDMENTS TO THE NAVBAR TO LAYOUTS.HTML-->

	</div>
	</div>
	
	<!-- INSERT ENDS -->

<div>
			 
																
					<p style="float:right; position:relative" bgcolor="#BDBDBD">			
							<!--Content of the second column.-->
								<a class="twitter-timeline" href="https://twitter.com/search?q=%23foundersandcoders" data-widget-id="478897762872733696">Tweets about "#foundersandcoders"</a>
								<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</p>
					
					<p style="float:left">
					<!--Content of the first column.-->{{ content }}
					</p>
	
	
	
				</div>
        </div>
		</body>

        <footer>
				<script src = "http://code.jquery.com/jquery-1.11.0.min.js"></script>
				<script src="http://github.io/wsfan/4Loop/bootstrap/js/bootstrap.js"></script>	
				<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			</footer>
</html>
