---
layout: default
---
<div class="post">
<div align="left">

p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}

Go back to the <a href="http://wsfan.github.io/4loop/blogcollect.html">index</a> of blog posts.
<br><br>
  <header class="post-header">
    <scan style="font-size:25px">{{ page.title }}</scan><br><Br>
    <class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content" size="4x">
<font size="3">{{ content }}</font>
  </article>
  
  </p>

</div>
</div>
