---
layout: default
---
<div class="container">
<div class = "row">
  <div class = "col-md-6">
<i>Back to the <a href="http://wsfan.github.io/4loop/blogcollect.html">index</a> of blog posts.</I>
<br><br>
  <header class="post-header">
    <scan style="font-size:20px">{{ page.title }}</scan><br><Br>
    <class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content" size="4x">
<font size="2">{{ content }}</font>
  </article>
  
  </p>

</div>
</div>
